{$DOMAIN}, www.{$DOMAIN} {
	@www host www.{$DOMAIN}
	redir @www https://{$DOMAIN}{uri} permanent

	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
		-Server
	}

	request_body {
		max_size 40MB
	}

	reverse_proxy app:8080
}
